body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
  background: white;
  background-size: 400% 400%;
  align-items: center;
  justify-content: flex-start;
  text-align: center; 
  padding: 30px 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

img:hover {
  color: #000000;
}

a {
  color: white;
}

.stroked-text {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.button {
  background-color: #000000;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

.button:hover {
  background-color: #FFFFFF;
  transform: scale(1.1);
  color: black;
}

.button-container {
  margin: 10px 0;
}
